#container{
    margin: 0px auto;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

footer{
    padding: 2px;
    text-indent: 5px;
    height: 40px;
    background-color: cyan;
}
.spacing{
    height: 70px;
    margin-bottom: 50%;
}

.aliniazalogo{
    width: 70%;
    margin: 0px auto;
    text-align: center;
}